/* Webfonts */
@import '_fonts.css';

/* Tailwind base/components */
@import 'tailwindcss/base';
@import 'tailwindcss/components';

/* Custom Style Imports */
@import '_typography.css';

/* Tailwind Utilities */
@import 'tailwindcss/utilities';


/* Simple defaults */
html {
  --scroll-behavior: smooth !important;
  scroll-behavior: smooth !important;
}

body {
  @apply font-sans antialiased text-black bg-white tracking-tighter md:tracking-tighter xl:tracking-tighter;
  overscroll-behavior: none!important;
  overflow-y: scroll !important;

  @apply selection:bg-black selection:text-white;
}

::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
body {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}

.prose {
  @apply leading-tight md:leading-tight xl:leading-tight text-[15px] md:text-[18px] xl:text-[20px];
  
  * + * {
    @apply mt-4;
  }
}

.image-fill {
  figure, img, span {
    @apply object-cover object-center w-full h-full absolute inset-0;
  }

  span {
    @apply absolute inset-0 w-full h-full !important;
  }
}

.image {
  span, img { 
    @apply w-full !important;
  }
}

.embla {
  position: relative;
}

.embla__viewport {
  overflow: hidden;
}

.embla__viewport.is-draggable {
  cursor: move;
  cursor: grab;
}

.embla__viewport.is-dragging {
  cursor: grabbing;
}

.embla__container {
  transform: none !important; /* override Embla */
  height: 100%;

  @apply flex items-center justify-center w-full;
}

.embla__slide {
  flex: 0 0 auto;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0 !important; /* override Embla */
  right: 0 !important; /* override Embla */
  opacity: 0;
  z-index: 0;
  transition: opacity ease-in-out 500ms;
}

.embla__slide {
  position: absolute;
}

.embla__slide.is-snapped {
  opacity: 1;
  z-index: 1;
}